    <header class="zoo-header">
        <img src="images/zoolandia-logo.png" alt="Zoolandia Logo">
        <div class="header__title--container">
            <h1 class="header__title">
                ZOOLANDIA
            </h1>
        </div>
    </header>