<nav class="menu">
    <a href="/" class="menu__item">Home</a>
    <a href="/birds" class="menu__item">Birds</a>
    <a href="/mammals" class="menu__item">Mammals</a>
    <a href="/reptiles" class="menu__item">Reptiles</a>
</nav>