<div class="sidebar">
    <div class="sidebar-header">Zoolandia</div>
    <ul class="sidebar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/animal1">Animal 1</a></li>
        <li><a href="/animal2">Animal 2</a></li>
        <li><a href="/animal3">Animal 3</a></li>
        <li><a href="/animal4">Animal 4</a></li>
        <li><a href="/animal5">Animal 5</a></li>
        <li><a href="/animal6">Animal 6</a></li>
        <li><a href="/animal7">Animal 7</a></li>
        <li><a href="/animal8">Animal 8</a></li>
        <li><a href="/animal9">Animal 9</a></li>
    </ul>
</div>
