<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="/style/global.css" >
    <title>Document</title>
</head>
<body>
    
    <%-include('../partials/navbar.ejs')%>

=======
    <title>Document</title>
</head>
<body>
    <!--Here we include the partials-->
>>>>>>> cc9aed07f5af90734106c698eeac43ab1e47de22
</body>
</html>